.project-info-page__top {
  margin-top: calc(20vh - 2rem);
}

.project-info-page__container-title {
  @extend .container-title;
  margin-top: 0.7rem;
  &::before {
    content: '\00a0';
    border-left: 10px solid lighten($base-color, 5%);
    display: inline-block;
  }
}

.project-info-page__back-link {
  color: $base-color-2;
  font-size: 1.1rem;
  text-transform: lowercase;
  svg {
    margin-right: 0.3rem;
  }
}

.project-info-page__body {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1.5rem;
}

.project-info-page__body > div {
  margin-top: 1.5rem;
}

.project-info-page__img {
  max-width: 400px;
  max-height: 250px;
  display: inline-block;
  img {
    height: auto;
    width: 100%;
  }
}

.project-info-page__about {
  max-width: 400px;
  flex: 1 1 250px;
  margin: 0 1rem;
  span {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }
}

p.project-info-page__desc {

}

p.project-info-page__comment {
  font-style: italic;
  color: $base-color-2;
}

.project-info-page__tools {
  span {
    font-weight: bold;
    margin-right: 0.8rem;
  }
}
