.content {
  margin-left: 50px;
  padding-left: 2rem;
  padding-right: 2rem;
  color: $base-color;
  height: 100vh;
  overflow: auto;
  @include mq(medium) {
    margin-left: 250px;
  }
}

.container-title {
  font-family: $heading-font;
  font-weight: 100;
  width: 100%;
  margin-top: 20vh;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  color: $base-color;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  border-bottom: 1px solid $base-color;
  &::before {
    content: attr(data-num);
    display: inline-block;
    padding-right: 0.25em;
    padding-left: 10px;
    border-left: 10px solid lighten($base-color, 5%);
  }
}
