$base-color: #373738;
$base-color-2: #7a7a7a;
$emphasis-color: #D4764C;

// $heading-font: 'Prompt', sans-serif;
$heading-font: 'Roboto', sans-serif;
$paragraph-font: 'Work Sans', sans-serif;

// Media Queries
// --------------
$breakpoints: (
  small: 480px,
  medium: 800px,
  large: 1024px
);

@mixin mq($mq-breakpoint, $mq-breakpoints: $breakpoints) {
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }
  @media screen and (min-width: #{$mq-breakpoint}) {
    @content;
  }
}

//-----------------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-size: 15px;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 1rem;
  line-height: 1.4em;
  color: $base-color;
  font-family: $paragraph-font;
}

a {
  text-decoration: none;
  color: $base-color-2;
  transition: all 0.5s ease;
  &:hover {
    color: $base-color;
  }
}

.emphasis {
  background-color: lighten($base-color-2, 45%);
  padding: 0 0.25em;
  // background-color: $base-color-2;
  // color: white;
  // color: $emphasis-color;
}

.emphasis::selection {
  color: lighten($base-color-2, 50%);
  background-color: $base-color-2;
}


// .container-title_add-on {
//   color: $emphasis-color;
// }
